/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');


.w3-hd {
  position: relative;
  padding-top:110PX;
  padding-bottom:3%;

  background-color: #061133;
}

.getfood{

  position: relative;
  
}


.keys{
  position: relative;
  left: 100px;
  color: black;
  font-size: 10%;
  box-sizing: border-box;



}

.logo{
  position: relative;
  width: 80px; 
  top: 0px;
  left: 0px;
  padding: 10px;
 
  

}

.zoom {

  transition: transform 0.5s;


  margin: 10 auto;
}

.zoom:hover {
  /* IE 9 */
  /* Safari 3-8 */
  transform: scale(1.05); 
}


.nav1{
  position: relative;
  top: 20px;
  left: 80px;
  font-size: 15px;
  
z-index: 5;
  
}
.w3-hover-gray {
  
}

.nav2{
  position: relative;
  left: 80px;
  font-size: 15px;
  color:#1a1a1a;

z-index: 5;
  
  
}




/** STYLE SHEET FOR RESTAURANT.PHP



 */
.container1 {
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:#000000;
}



@media screen and (max-width:700px) {

.hide-this{

display:none;

}

}


#navDemo
{

z-index: 5;

}